<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!-- test Suites -->
<suite name="Suite">
<!-- listeners-->
	<listeners>
		<listener class-name="TestUtils.Listeners"></listener>
	</listeners>
<!-- listeners-->

<!-- test scripts-->
  	<test thread-count="5" name="LoginApp-LogoutApp">
    	<classes>
    	  <class name="TestReport.loginReport"/>
    	</classes>
  	</test> 
<!-- test scripts -->
  
  
</suite> 
<!-- test Suites -->
